.TodoListArray,
li {
  font-family: "Open Sans Condensed", sans-serif;
}

.TodoListArray li {
  margin-bottom: 6px;
  background: rgba(72, 62, 139, 0.4);
}

.BtnDone {
  float: right;
  background: rgba(72, 62, 139, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.25);
}
